<%- include("header") -%>
<form action="/addVendor" method="POST">
    <div class="frm">
        <div class="form-group">
            <label for="exampleInputEmail1">Vendor Name</label>
            <input type="text" name="Vname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
          </div><br>
    
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="Vemail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div><br>
    
        <button type="submit" class="btn btn-primary">Add</button>

    </div>

  </form>

<%- include("footer") -%>
